<!--new code-->
<div style="background-color: #E6E6FA">


  <br />
  <br />
  <div class="container" style=" width: 80vw; margin-left : 25vw;">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center" style="background-color: dodgerblue">
            <h1>Login</h1>
            <h6>Please Enter Email & Password</h6>

          </div>
          <form>
            <form style="background-color:skyblue" [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')">Email is required</span>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Password">
                <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">Password is required</span>
              </div>

              <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
            </form>
          </form>

          <a routerLink="/studentreg">New User? Click To SignUp</a>
        </div>
      </div>
    </div>
  </div>
  <br /> <br /> <br /> <br />
</div>
