<!--<div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">
            <h3>{{name}}</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">roll</strong>{{roll}}</p>
            <p class="mb-0"><strong class="pr-1">Class:</strong>{{class}}/p>
           
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">Section</th>
                <td width="2%">:</td>
                <td>{{section}}</td>
              </tr>
              <tr>
                <th width="30%">Academic Year	</th>
                <td width="2%">:</td>
                <td>{{year}}</td>
              </tr>
              <tr>
                <th width="30%">Gender</th>
                <td width="2%">:</td>
                <td>{{gender}}</td>
              </tr>
              <tr>
                <th width="30%">address</th>
                <td width="2%">:</td>
                <td>{{address}}</td>
              </tr>
              <tr>
                <th width="30%">Guardian Name</th>
                <td width="2%">:</td>
                <td>{{guardian}}</td>
              </tr>
            </table>
          </div>
        </div>
       
    </div>
  </div>
</div>-->
